.header_contrainer {
  width: 550px;
  margin: 0 auto;
}
ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0%;
}
.menu_link a:hover {
  color: #03a9f4;
}
.menu_link {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #03a9f4;
}
h6 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
}
h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #626262;
}
p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}
button {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}
.item {
  width: 420px;
  margin-bottom: 130px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  display: flex;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #626262;
  margin: 0 auto;
  padding: 20px 48px;
}
